**/.github
**/test
**/@types
build
dist
!dist/extension.bundle.js
images
!images/icons
!images/logo.png
.vscode
.vscode-test
typings
out/test
test
src
grunt
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/license
**/node_modules/**/LICENSE
**/node_modules/**/*.html
**/node_modules/**/*.css
**/node_modules/**/*.ts
**/node_modules/**/*.svg
**/node_modules/**/*.yml
**/node_modules/**/*rc
**/tsconfig.json
**/*.map
gruntfile.js
.travis*
.gitignore
vsc-extension-quickstart.md
.nvmrc